{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<div style="margin: auto; width:800px; text-align: center;">
    <img src="../images/photo.png" style="width:400px;">
    <h2>Виктор</h2>
    <h4>Инженер-электроник. Все верно именно Электроник.</h4>
    <p>Мой Git-hub <a href="https://github.com/vitas1648">https://github.com/vitas1648</a></p> 
</div>
{% endblock %}
