{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <div class="article">
        <h4>{{ article }}</h4>
        <div style="display:flex;">
            <img src="../images/{{ article.photoFilename }}" style="width:200px;">
            <div>
                <p>{{ article.content }}</p>
                <p>{{ article.createdAt|format_datetime('medium', 'short') }}</p>
            </div>
        </div>
    </div>
{% endblock %}
